name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build-push:
    name: Build and push application image
    runs-on: x1-core
    permissions:
      id-token: write
      contents: read
    steps:

      - name: Build and push application image
        uses: cloudbeds/composite-actions/docker/build-push/remote@v2
        with:
          push: true
          platforms: linux/amd64,linux/arm64
