name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build-push:
    name: Build and push application image
    uses: ./.github/workflows/docker-build.yaml
    secrets: inherit
    with:
      push: true
