name: Pull Request

on:
  pull_request:

# Cancel existing workflows running for this PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  docker-build:
    name: Docker Build
    uses: ./.github/workflows/docker-build.yaml
    secrets: inherit
    with:
      push: false
